@charset "UTF-8";
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/FontAwesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/FontAwesome/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/FontAwesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/FontAwesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "";
}

.fa-music:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-star:before {
  content: "";
}

.fa-star-o:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-film:before {
  content: "";
}

.fa-th-large:before {
  content: "";
}

.fa-th:before {
  content: "";
}

.fa-th-list:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "";
}

.fa-search-plus:before {
  content: "";
}

.fa-search-minus:before {
  content: "";
}

.fa-power-off:before {
  content: "";
}

.fa-signal:before {
  content: "";
}

.fa-gear:before,
.fa-cog:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-file-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-road:before {
  content: "";
}

.fa-download:before {
  content: "";
}

.fa-arrow-circle-o-down:before {
  content: "";
}

.fa-arrow-circle-o-up:before {
  content: "";
}

.fa-inbox:before {
  content: "";
}

.fa-play-circle-o:before {
  content: "";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "";
}

.fa-refresh:before {
  content: "";
}

.fa-list-alt:before {
  content: "";
}

.fa-lock:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-headphones:before {
  content: "";
}

.fa-volume-off:before {
  content: "";
}

.fa-volume-down:before {
  content: "";
}

.fa-volume-up:before {
  content: "";
}

.fa-qrcode:before {
  content: "";
}

.fa-barcode:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bookmark:before {
  content: "";
}

.fa-print:before {
  content: "";
}

.fa-camera:before {
  content: "";
}

.fa-font:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-text-height:before {
  content: "";
}

.fa-text-width:before {
  content: "";
}

.fa-align-left:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-right:before {
  content: "";
}

.fa-align-justify:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "";
}

.fa-indent:before {
  content: "";
}

.fa-video-camera:before {
  content: "";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-map-marker:before {
  content: "";
}

.fa-adjust:before {
  content: "";
}

.fa-tint:before {
  content: "";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "";
}

.fa-share-square-o:before {
  content: "";
}

.fa-check-square-o:before {
  content: "";
}

.fa-arrows:before {
  content: "";
}

.fa-step-backward:before {
  content: "";
}

.fa-fast-backward:before {
  content: "";
}

.fa-backward:before {
  content: "";
}

.fa-play:before {
  content: "";
}

.fa-pause:before {
  content: "";
}

.fa-stop:before {
  content: "";
}

.fa-forward:before {
  content: "";
}

.fa-fast-forward:before {
  content: "";
}

.fa-step-forward:before {
  content: "";
}

.fa-eject:before {
  content: "";
}

.fa-chevron-left:before {
  content: "";
}

.fa-chevron-right:before {
  content: "";
}

.fa-plus-circle:before {
  content: "";
}

.fa-minus-circle:before {
  content: "";
}

.fa-times-circle:before {
  content: "";
}

.fa-check-circle:before {
  content: "";
}

.fa-question-circle:before {
  content: "";
}

.fa-info-circle:before {
  content: "";
}

.fa-crosshairs:before {
  content: "";
}

.fa-times-circle-o:before {
  content: "";
}

.fa-check-circle-o:before {
  content: "";
}

.fa-ban:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "";
}

.fa-expand:before {
  content: "";
}

.fa-compress:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-minus:before {
  content: "";
}

.fa-asterisk:before {
  content: "";
}

.fa-exclamation-circle:before {
  content: "";
}

.fa-gift:before {
  content: "";
}

.fa-leaf:before {
  content: "";
}

.fa-fire:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-eye-slash:before {
  content: "";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "";
}

.fa-plane:before {
  content: "";
}

.fa-calendar:before {
  content: "";
}

.fa-random:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-magnet:before {
  content: "";
}

.fa-chevron-up:before {
  content: "";
}

.fa-chevron-down:before {
  content: "";
}

.fa-retweet:before {
  content: "";
}

.fa-shopping-cart:before {
  content: "";
}

.fa-folder:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-arrows-v:before {
  content: "";
}

.fa-arrows-h:before {
  content: "";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "";
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-camera-retro:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-gears:before,
.fa-cogs:before {
  content: "";
}

.fa-comments:before {
  content: "";
}

.fa-thumbs-o-up:before {
  content: "";
}

.fa-thumbs-o-down:before {
  content: "";
}

.fa-star-half:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-linkedin-square:before {
  content: "";
}

.fa-thumb-tack:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-trophy:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-upload:before {
  content: "";
}

.fa-lemon-o:before {
  content: "";
}

.fa-phone:before {
  content: "";
}

.fa-square-o:before {
  content: "";
}

.fa-bookmark-o:before {
  content: "";
}

.fa-phone-square:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "";
}

.fa-github:before {
  content: "";
}

.fa-unlock:before {
  content: "";
}

.fa-credit-card:before {
  content: "";
}

.fa-feed:before,
.fa-rss:before {
  content: "";
}

.fa-hdd-o:before {
  content: "";
}

.fa-bullhorn:before {
  content: "";
}

.fa-bell:before {
  content: "";
}

.fa-certificate:before {
  content: "";
}

.fa-hand-o-right:before {
  content: "";
}

.fa-hand-o-left:before {
  content: "";
}

.fa-hand-o-up:before {
  content: "";
}

.fa-hand-o-down:before {
  content: "";
}

.fa-arrow-circle-left:before {
  content: "";
}

.fa-arrow-circle-right:before {
  content: "";
}

.fa-arrow-circle-up:before {
  content: "";
}

.fa-arrow-circle-down:before {
  content: "";
}

.fa-globe:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-tasks:before {
  content: "";
}

.fa-filter:before {
  content: "";
}

.fa-briefcase:before {
  content: "";
}

.fa-arrows-alt:before {
  content: "";
}

.fa-group:before,
.fa-users:before {
  content: "";
}

.fa-chain:before,
.fa-link:before {
  content: "";
}

.fa-cloud:before {
  content: "";
}

.fa-flask:before {
  content: "";
}

.fa-cut:before,
.fa-scissors:before {
  content: "";
}

.fa-copy:before,
.fa-files-o:before {
  content: "";
}

.fa-paperclip:before {
  content: "";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "";
}

.fa-square:before {
  content: "";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-strikethrough:before {
  content: "";
}

.fa-underline:before {
  content: "";
}

.fa-table:before {
  content: "";
}

.fa-magic:before {
  content: "";
}

.fa-truck:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-pinterest-square:before {
  content: "";
}

.fa-google-plus-square:before {
  content: "";
}

.fa-google-plus:before {
  content: "";
}

.fa-money:before {
  content: "";
}

.fa-caret-down:before {
  content: "";
}

.fa-caret-up:before {
  content: "";
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-columns:before {
  content: "";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-linkedin:before {
  content: "";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "";
}

.fa-legal:before,
.fa-gavel:before {
  content: "";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "";
}

.fa-comment-o:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-flash:before,
.fa-bolt:before {
  content: "";
}

.fa-sitemap:before {
  content: "";
}

.fa-umbrella:before {
  content: "";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "";
}

.fa-lightbulb-o:before {
  content: "";
}

.fa-exchange:before {
  content: "";
}

.fa-cloud-download:before {
  content: "";
}

.fa-cloud-upload:before {
  content: "";
}

.fa-user-md:before {
  content: "";
}

.fa-stethoscope:before {
  content: "";
}

.fa-suitcase:before {
  content: "";
}

.fa-bell-o:before {
  content: "";
}

.fa-coffee:before {
  content: "";
}

.fa-cutlery:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-building-o:before {
  content: "";
}

.fa-hospital-o:before {
  content: "";
}

.fa-ambulance:before {
  content: "";
}

.fa-medkit:before {
  content: "";
}

.fa-fighter-jet:before {
  content: "";
}

.fa-beer:before {
  content: "";
}

.fa-h-square:before {
  content: "";
}

.fa-plus-square:before {
  content: "";
}

.fa-angle-double-left:before {
  content: "";
}

.fa-angle-double-right:before {
  content: "";
}

.fa-angle-double-up:before {
  content: "";
}

.fa-angle-double-down:before {
  content: "";
}

.fa-angle-left:before {
  content: "";
}

.fa-angle-right:before {
  content: "";
}

.fa-angle-up:before {
  content: "";
}

.fa-angle-down:before {
  /*content: "";*/
}

.fa-desktop:before {
  content: "";
}

.fa-laptop:before {
  content: "";
}

.fa-tablet:before {
  content: "";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "";
}

.fa-circle-o:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-spinner:before {
  content: "";
}

.fa-circle:before {
  content: "";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "";
}

.fa-github-alt:before {
  content: "";
}

.fa-folder-o:before {
  content: "";
}

.fa-folder-open-o:before {
  content: "";
}

.fa-smile-o:before {
  content: "";
}

.fa-frown-o:before {
  content: "";
}

.fa-meh-o:before {
  content: "";
}

.fa-gamepad:before {
  content: "";
}

.fa-keyboard-o:before {
  content: "";
}

.fa-flag-o:before {
  content: "";
}

.fa-flag-checkered:before {
  content: "";
}

.fa-terminal:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "";
}

.fa-location-arrow:before {
  content: "";
}

.fa-crop:before {
  content: "";
}

.fa-code-fork:before {
  content: "";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "";
}

.fa-question:before {
  content: "";
}

.fa-info:before {
  content: "";
}

.fa-exclamation:before {
  content: "";
}

.fa-superscript:before {
  content: "";
}

.fa-subscript:before {
  content: "";
}

.fa-eraser:before {
  content: "";
}

.fa-puzzle-piece:before {
  content: "";
}

.fa-microphone:before {
  content: "";
}

.fa-microphone-slash:before {
  content: "";
}

.fa-shield:before {
  content: "";
}

.fa-calendar-o:before {
  content: "";
}

.fa-fire-extinguisher:before {
  content: "";
}

.fa-rocket:before {
  content: "";
}

.fa-maxcdn:before {
  content: "";
}

.fa-chevron-circle-left:before {
  content: "";
}

.fa-chevron-circle-right:before {
  content: "";
}

.fa-chevron-circle-up:before {
  content: "";
}

.fa-chevron-circle-down:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-css3:before {
  content: "";
}

.fa-anchor:before {
  content: "";
}

.fa-unlock-alt:before {
  content: "";
}

.fa-bullseye:before {
  content: "";
}

.fa-ellipsis-h:before {
  content: "";
}

.fa-ellipsis-v:before {
  content: "";
}

.fa-rss-square:before {
  content: "";
}

.fa-play-circle:before {
  content: "";
}

.fa-ticket:before {
  content: "";
}

.fa-minus-square:before {
  content: "";
}

.fa-minus-square-o:before {
  content: "";
}

.fa-level-up:before {
  content: "";
}

.fa-level-down:before {
  content: "";
}

.fa-check-square:before {
  content: "";
}

.fa-pencil-square:before {
  content: "";
}

.fa-external-link-square:before {
  content: "";
}

.fa-share-square:before {
  content: "";
}

.fa-compass:before {
  content: "";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "";
}

.fa-euro:before,
.fa-eur:before {
  content: "";
}

.fa-gbp:before {
  content: "";
}

.fa-dollar:before,
.fa-usd:before {
  content: "";
}

.fa-rupee:before,
.fa-inr:before {
  content: "";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "";
}

.fa-won:before,
.fa-krw:before {
  content: "";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "";
}

.fa-file:before {
  content: "";
}

.fa-file-text:before {
  content: "";
}

.fa-sort-alpha-asc:before {
  content: "";
}

.fa-sort-alpha-desc:before {
  content: "";
}

.fa-sort-amount-asc:before {
  content: "";
}

.fa-sort-amount-desc:before {
  content: "";
}

.fa-sort-numeric-asc:before {
  content: "";
}

.fa-sort-numeric-desc:before {
  content: "";
}

.fa-thumbs-up:before {
  content: "";
}

.fa-thumbs-down:before {
  content: "";
}

.fa-youtube-square:before {
  content: "";
}

.fa-youtube:before {
  content: "";
}

.fa-xing:before {
  content: "";
}

.fa-xing-square:before {
  content: "";
}

.fa-youtube-play:before {
  content: "";
}

.fa-dropbox:before {
  content: "";
}

.fa-stack-overflow:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-flickr:before {
  content: "";
}

.fa-adn:before {
  content: "";
}

.fa-bitbucket:before {
  content: "";
}

.fa-bitbucket-square:before {
  content: "";
}

.fa-tumblr:before {
  content: "";
}

.fa-tumblr-square:before {
  content: "";
}

.fa-long-arrow-down:before {
  content: "";
}

.fa-long-arrow-up:before {
  content: "";
}

.fa-long-arrow-left:before {
  content: "";
}

.fa-long-arrow-right:before {
  content: "";
}

.fa-apple:before {
  content: "";
}

.fa-windows:before {
  content: "";
}

.fa-android:before {
  content: "";
}

.fa-linux:before {
  content: "";
}

.fa-dribbble:before {
  content: "";
}

.fa-skype:before {
  content: "";
}

.fa-foursquare:before {
  content: "";
}

.fa-trello:before {
  content: "";
}

.fa-female:before {
  content: "";
}

.fa-male:before {
  content: "";
}

.fa-gittip:before,
.fa-gratipay:before {
  content: "";
}

.fa-sun-o:before {
  content: "";
}

.fa-moon-o:before {
  content: "";
}

.fa-archive:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-weibo:before {
  content: "";
}

.fa-renren:before {
  content: "";
}

.fa-pagelines:before {
  content: "";
}

.fa-stack-exchange:before {
  content: "";
}

.fa-arrow-circle-o-right:before {
  content: "";
}

.fa-arrow-circle-o-left:before {
  content: "";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "";
}

.fa-dot-circle-o:before {
  content: "";
}

.fa-wheelchair:before {
  content: "";
}

.fa-vimeo-square:before {
  content: "";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "";
}

.fa-plus-square-o:before {
  content: "";
}

.fa-space-shuttle:before {
  content: "";
}

.fa-slack:before {
  content: "";
}

.fa-envelope-square:before {
  content: "";
}

.fa-wordpress:before {
  content: "";
}

.fa-openid:before {
  content: "";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "";
}

.fa-yahoo:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.fa-reddit:before {
  content: "";
}

.fa-reddit-square:before {
  content: "";
}

.fa-stumbleupon-circle:before {
  content: "";
}

.fa-stumbleupon:before {
  content: "";
}

.fa-delicious:before {
  content: "";
}

.fa-digg:before {
  content: "";
}

.fa-pied-piper-pp:before {
  content: "";
}

.fa-pied-piper-alt:before {
  content: "";
}

.fa-drupal:before {
  content: "";
}

.fa-joomla:before {
  content: "";
}

.fa-language:before {
  content: "";
}

.fa-fax:before {
  content: "";
}

.fa-building:before {
  content: "";
}

.fa-child:before {
  content: "";
}

.fa-paw:before {
  content: "";
}

.fa-spoon:before {
  content: "";
}

.fa-cube:before {
  content: "";
}

.fa-cubes:before {
  content: "";
}

.fa-behance:before {
  content: "";
}

.fa-behance-square:before {
  content: "";
}

.fa-steam:before {
  content: "";
}

.fa-steam-square:before {
  content: "";
}

.fa-recycle:before {
  content: "";
}

.fa-automobile:before,
.fa-car:before {
  content: "";
}

.fa-cab:before,
.fa-taxi:before {
  content: "";
}

.fa-tree:before {
  content: "";
}

.fa-spotify:before {
  content: "";
}

.fa-deviantart:before {
  content: "";
}

.fa-soundcloud:before {
  content: "";
}

.fa-database:before {
  content: "";
}

.fa-file-pdf-o:before {
  content: "";
}

.fa-file-word-o:before {
  content: "";
}

.fa-file-excel-o:before {
  content: "";
}

.fa-file-powerpoint-o:before {
  content: "";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "";
}

.fa-file-code-o:before {
  content: "";
}

.fa-vine:before {
  content: "";
}

.fa-codepen:before {
  content: "";
}

.fa-jsfiddle:before {
  content: "";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "";
}

.fa-circle-o-notch:before {
  content: "";
}

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: "";
}

.fa-ge:before,
.fa-empire:before {
  content: "";
}

.fa-git-square:before {
  content: "";
}

.fa-git:before {
  content: "";
}

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "";
}

.fa-tencent-weibo:before {
  content: "";
}

.fa-qq:before {
  content: "";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "";
}

.fa-history:before {
  content: "";
}

.fa-circle-thin:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-paragraph:before {
  content: "";
}

.fa-sliders:before {
  content: "";
}

.fa-share-alt:before {
  content: "";
}

.fa-share-alt-square:before {
  content: "";
}

.fa-bomb:before {
  content: "";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "";
}

.fa-tty:before {
  content: "";
}

.fa-binoculars:before {
  content: "";
}

.fa-plug:before {
  content: "";
}

.fa-slideshare:before {
  content: "";
}

.fa-twitch:before {
  content: "";
}

.fa-yelp:before {
  content: "";
}

.fa-newspaper-o:before {
  content: "";
}

.fa-wifi:before {
  content: "";
}

.fa-calculator:before {
  content: "";
}

.fa-paypal:before {
  content: "";
}

.fa-google-wallet:before {
  content: "";
}

.fa-cc-visa:before {
  content: "";
}

.fa-cc-mastercard:before {
  content: "";
}

.fa-cc-discover:before {
  content: "";
}

.fa-cc-amex:before {
  content: "";
}

.fa-cc-paypal:before {
  content: "";
}

.fa-cc-stripe:before {
  content: "";
}

.fa-bell-slash:before {
  content: "";
}

.fa-bell-slash-o:before {
  content: "";
}

.fa-trash:before {
  content: "";
}

.fa-copyright:before {
  content: "";
}

.fa-at:before {
  content: "";
}

.fa-eyedropper:before {
  content: "";
}

.fa-paint-brush:before {
  content: "";
}

.fa-birthday-cake:before {
  content: "";
}

.fa-area-chart:before {
  content: "";
}

.fa-pie-chart:before {
  content: "";
}

.fa-line-chart:before {
  content: "";
}

.fa-lastfm:before {
  content: "";
}

.fa-lastfm-square:before {
  content: "";
}

.fa-toggle-off:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-bicycle:before {
  content: "";
}

.fa-bus:before {
  content: "";
}

.fa-ioxhost:before {
  content: "";
}

.fa-angellist:before {
  content: "";
}

.fa-cc:before {
  content: "";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "";
}

.fa-meanpath:before {
  content: "";
}

.fa-buysellads:before {
  content: "";
}

.fa-connectdevelop:before {
  content: "";
}

.fa-dashcube:before {
  content: "";
}

.fa-forumbee:before {
  content: "";
}

.fa-leanpub:before {
  content: "";
}

.fa-sellsy:before {
  content: "";
}

.fa-shirtsinbulk:before {
  content: "";
}

.fa-simplybuilt:before {
  content: "";
}

.fa-skyatlas:before {
  content: "";
}

.fa-cart-plus:before {
  content: "";
}

.fa-cart-arrow-down:before {
  content: "";
}

.fa-diamond:before {
  content: "";
}

.fa-ship:before {
  content: "";
}

.fa-user-secret:before {
  content: "";
}

.fa-motorcycle:before {
  content: "";
}

.fa-street-view:before {
  content: "";
}

.fa-heartbeat:before {
  content: "";
}

.fa-venus:before {
  content: "";
}

.fa-mars:before {
  content: "";
}

.fa-mercury:before {
  content: "";
}

.fa-intersex:before,
.fa-transgender:before {
  content: "";
}

.fa-transgender-alt:before {
  content: "";
}

.fa-venus-double:before {
  content: "";
}

.fa-mars-double:before {
  content: "";
}

.fa-venus-mars:before {
  content: "";
}

.fa-mars-stroke:before {
  content: "";
}

.fa-mars-stroke-v:before {
  content: "";
}

.fa-mars-stroke-h:before {
  content: "";
}

.fa-neuter:before {
  content: "";
}

.fa-genderless:before {
  content: "";
}

.fa-facebook-official:before {
  content: "";
}

.fa-pinterest-p:before {
  content: "";
}

.fa-whatsapp:before {
  content: "";
}

.fa-server:before {
  content: "";
}

.fa-user-plus:before {
  content: "";
}

.fa-user-times:before {
  content: "";
}

.fa-hotel:before,
.fa-bed:before {
  content: "";
}

.fa-viacoin:before {
  content: "";
}

.fa-train:before {
  content: "";
}

.fa-subway:before {
  content: "";
}

.fa-medium:before {
  content: "";
}

.fa-yc:before,
.fa-y-combinator:before {
  content: "";
}

.fa-optin-monster:before {
  content: "";
}

.fa-opencart:before {
  content: "";
}

.fa-expeditedssl:before {
  content: "";
}

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: "";
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "";
}

.fa-battery-2:before,
.fa-battery-half:before {
  content: "";
}

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "";
}

.fa-battery-0:before,
.fa-battery-empty:before {
  content: "";
}

.fa-mouse-pointer:before {
  content: "";
}

.fa-i-cursor:before {
  content: "";
}

.fa-object-group:before {
  content: "";
}

.fa-object-ungroup:before {
  content: "";
}

.fa-sticky-note:before {
  content: "";
}

.fa-sticky-note-o:before {
  content: "";
}

.fa-cc-jcb:before {
  content: "";
}

.fa-cc-diners-club:before {
  content: "";
}

.fa-clone:before {
  content: "";
}

.fa-balance-scale:before {
  content: "";
}

.fa-hourglass-o:before {
  content: "";
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "";
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "";
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "";
}

.fa-hourglass:before {
  content: "";
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "";
}

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "";
}

.fa-hand-scissors-o:before {
  content: "";
}

.fa-hand-lizard-o:before {
  content: "";
}

.fa-hand-spock-o:before {
  content: "";
}

.fa-hand-pointer-o:before {
  content: "";
}

.fa-hand-peace-o:before {
  content: "";
}

.fa-trademark:before {
  content: "";
}

.fa-registered:before {
  content: "";
}

.fa-creative-commons:before {
  content: "";
}

.fa-gg:before {
  content: "";
}

.fa-gg-circle:before {
  content: "";
}

.fa-tripadvisor:before {
  content: "";
}

.fa-odnoklassniki:before {
  content: "";
}

.fa-odnoklassniki-square:before {
  content: "";
}

.fa-get-pocket:before {
  content: "";
}

.fa-wikipedia-w:before {
  content: "";
}

.fa-safari:before {
  content: "";
}

.fa-chrome:before {
  content: "";
}

.fa-firefox:before {
  content: "";
}

.fa-opera:before {
  content: "";
}

.fa-internet-explorer:before {
  content: "";
}

.fa-tv:before,
.fa-television:before {
  content: "";
}

.fa-contao:before {
  content: "";
}

.fa-500px:before {
  content: "";
}

.fa-amazon:before {
  content: "";
}

.fa-calendar-plus-o:before {
  content: "";
}

.fa-calendar-minus-o:before {
  content: "";
}

.fa-calendar-times-o:before {
  content: "";
}

.fa-calendar-check-o:before {
  content: "";
}

.fa-industry:before {
  content: "";
}

.fa-map-pin:before {
  content: "";
}

.fa-map-signs:before {
  content: "";
}

.fa-map-o:before {
  content: "";
}

.fa-map:before {
  content: "";
}

.fa-commenting:before {
  content: "";
}

.fa-commenting-o:before {
  content: "";
}

.fa-houzz:before {
  content: "";
}

.fa-vimeo:before {
  content: "";
}

.fa-black-tie:before {
  content: "";
}

.fa-fonticons:before {
  content: "";
}

.fa-reddit-alien:before {
  content: "";
}

.fa-edge:before {
  content: "";
}

.fa-credit-card-alt:before {
  content: "";
}

.fa-codiepie:before {
  content: "";
}

.fa-modx:before {
  content: "";
}

.fa-fort-awesome:before {
  content: "";
}

.fa-usb:before {
  content: "";
}

.fa-product-hunt:before {
  content: "";
}

.fa-mixcloud:before {
  content: "";
}

.fa-scribd:before {
  content: "";
}

.fa-pause-circle:before {
  content: "";
}

.fa-pause-circle-o:before {
  content: "";
}

.fa-stop-circle:before {
  content: "";
}

.fa-stop-circle-o:before {
  content: "";
}

.fa-shopping-bag:before {
  content: "";
}

.fa-shopping-basket:before {
  content: "";
}

.fa-hashtag:before {
  content: "";
}

.fa-bluetooth:before {
  content: "";
}

.fa-bluetooth-b:before {
  content: "";
}

.fa-percent:before {
  content: "";
}

.fa-gitlab:before {
  content: "";
}

.fa-wpbeginner:before {
  content: "";
}

.fa-wpforms:before {
  content: "";
}

.fa-envira:before {
  content: "";
}

.fa-universal-access:before {
  content: "";
}

.fa-wheelchair-alt:before {
  content: "";
}

.fa-question-circle-o:before {
  content: "";
}

.fa-blind:before {
  content: "";
}

.fa-audio-description:before {
  content: "";
}

.fa-volume-control-phone:before {
  content: "";
}

.fa-braille:before {
  content: "";
}

.fa-assistive-listening-systems:before {
  content: "";
}

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "";
}

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "";
}

.fa-glide:before {
  content: "";
}

.fa-glide-g:before {
  content: "";
}

.fa-signing:before,
.fa-sign-language:before {
  content: "";
}

.fa-low-vision:before {
  content: "";
}

.fa-viadeo:before {
  content: "";
}

.fa-viadeo-square:before {
  content: "";
}

.fa-snapchat:before {
  content: "";
}

.fa-snapchat-ghost:before {
  content: "";
}

.fa-snapchat-square:before {
  content: "";
}

.fa-pied-piper:before {
  content: "";
}

.fa-first-order:before {
  content: "";
}

.fa-yoast:before {
  content: "";
}

.fa-themeisle:before {
  content: "";
}

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "";
}

.fa-fa:before,
.fa-font-awesome:before {
  content: "";
}

.fa-handshake-o:before {
  content: "";
}

.fa-envelope-open:before {
  content: "";
}

.fa-envelope-open-o:before {
  content: "";
}

.fa-linode:before {
  content: "";
}

.fa-address-book:before {
  content: "";
}

.fa-address-book-o:before {
  content: "";
}

.fa-vcard:before,
.fa-address-card:before {
  content: "";
}

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: "";
}

.fa-user-circle:before {
  content: "";
}

.fa-user-circle-o:before {
  content: "";
}

.fa-user-o:before {
  content: "";
}

.fa-id-badge:before {
  content: "";
}

.fa-drivers-license:before,
.fa-id-card:before {
  content: "";
}

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: "";
}

.fa-quora:before {
  content: "";
}

.fa-free-code-camp:before {
  content: "";
}

.fa-telegram:before {
  content: "";
}

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: "";
}

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: "";
}

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: "";
}

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: "";
}

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: "";
}

.fa-shower:before {
  content: "";
}

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: "";
}

.fa-podcast:before {
  content: "";
}

.fa-window-maximize:before {
  content: "";
}

.fa-window-minimize:before {
  content: "";
}

.fa-window-restore:before {
  content: "";
}

.fa-times-rectangle:before,
.fa-window-close:before {
  content: "";
}

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: "";
}

.fa-bandcamp:before {
  content: "";
}

.fa-grav:before {
  content: "";
}

.fa-etsy:before {
  content: "";
}

.fa-imdb:before {
  content: "";
}

.fa-ravelry:before {
  content: "";
}

.fa-eercast:before {
  content: "";
}

.fa-microchip:before {
  content: "";
}

.fa-snowflake-o:before {
  content: "";
}

.fa-superpowers:before {
  content: "";
}

.fa-wpexplorer:before {
  content: "";
}

.fa-meetup:before {
  content: "";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular/montserrat-regular-webfont.eot");
  src: url("../fonts/Montserrat-Regular/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular/montserrat-regular-webfont.woff") format("woff"), url("../fonts/Montserrat-Regular/montserrat-regular-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold/montserrat-bold-webfont.eot");
  src: url("../fonts/Montserrat-Bold/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold/montserrat-bold-webfont.woff") format("woff"), url("../fonts/Montserrat-Bold/montserrat-bold-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold/montserrat-semibold-webfont.eot");
  src: url("../fonts/Montserrat-SemiBold/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold/montserrat-semibold-webfont.woff") format("woff"), url("../fonts/Montserrat-SemiBold/montserrat-semibold-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium/montserrat-medium-webfont.eot");
  src: url("../fonts/Montserrat-Medium/montserrat-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium/montserrat-medium-webfont.woff") format("woff"), url("../fonts/Montserrat-Medium/montserrat-medium-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light/montserrat-light-webfont.eot");
  src: url("../fonts/Montserrat-Light/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light/montserrat-light-webfont.woff") format("woff"), url("../fonts/Montserrat-Light/montserrat-light-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  min-width: 320px;
}

a:hover, a:focus {
  color: #ffffff;
  text-decoration: none;
}

.button {
  margin: 5px;
  padding: 0 20px;
  min-width: 120px;
  display: inline-block;
  line-height: 42px;
  text-align: center;
  transition: 0.2s;
  text-transform: uppercase;
  border-radius: 50px;
}

.button-primary-1 {
  background: #0DA4FF;
  border: 2px solid #0DA4FF;
  font-size: 14px;
  color: white;
  font-weight: 700;
  font-family: "Montserrat-Regular";
  cursor: pointer;
}

.button-primary-1:hover, .button-primary-1:focus {
  background: #6ec8ff;
  border: 2px solid #0DA4FF;
  outline: none;
}

.button-primary-1[disabled] {
  background-color: #ccc;
  cursor: no-drop;
}

.button-primary-1-o {
  background: transparent;
  border: 2px solid #0DA4FF;
  line-height: 48px;
  font-size: 14px;
  color: #0DA4FF;
  font-weight: 700;
  font-family: "Montserrat-Regular";
}

.button-primary-1-o:hover, .button-primary-1-o:focus {
  font-size: 14px;
  color: white;
  font-weight: 700;
  font-family: "Montserrat-Regular";
  background: #6ec8ff;
  border: 2px solid #6ec8ff;
  outline: none;
}

.button-primary-1-o.button-slim {
  line-height: 38px;
}

.button-primary-1-o.prime {
  border: 2px solid #0DA4FF;
}

.button-primary-1-o.prime:hover, .button-primary-1-o.prime:focus {
  border: 2px solid #0DA4FF;
  background: rgba(204, 204, 204, 0.65);
}

.button-primary-2 {
  background: #464855;
  border: 2px solid #464855;
  font-size: 14px;
  color: white;
  font-weight: 700;
  font-family: "Montserrat-Regular";
}

.button-primary-2:hover, .button-primary-2:focus {
  background: #909199;
  border: 2px solid #464855;
  outline: none;
}

.button-primary-2[disabled] {
  background-color: #ccc;
  cursor: no-drop;
}

.button-primary-2-o {
  background: transparent;
  border: 2px solid #464855;
  line-height: 48px;
  font-size: 14px;
  color: #464855;
  font-weight: 700;
  font-family: "Montserrat-Regular";
}

.button-primary-2-o:hover, .button-primary-2-o:focus {
  font-size: 14px;
  color: white;
  font-weight: 700;
  font-family: "Montserrat-Regular";
  background: #909199;
  border: 2px solid #909199;
  outline: none;
}

.button-primary-2-o.button-slim {
  line-height: 38px;
}

.button-primary-2-o.prime {
  border: 2px solid #464855;
}

.button-primary-2-o.prime:hover, .button-primary-2-o.prime:focus {
  border: 2px solid #464855;
  background: rgba(204, 204, 204, 0.65);
}

.button-primary-3 {
  background: #3FD762;
  border: 2px solid #3FD762;
  font-size: 14px;
  color: white;
  font-weight: 700;
  font-family: "Montserrat-Regular";
}

.button-primary-3:hover, .button-primary-3:focus {
  background: #8ce7a1;
  border: 2px solid #3FD762;
  outline: none;
}

.button-primary-3[disabled] {
  background-color: #ccc;
  cursor: no-drop;
}

.button-primary-3-o {
  background: transparent;
  border: 2px solid #3FD762;
  line-height: 48px;
  font-size: 14px;
  color: #3FD762;
  font-weight: 700;
  font-family: "Montserrat-Regular";
}

.button-primary-3-o:hover, .button-primary-3-o:focus {
  font-size: 14px;
  color: white;
  font-weight: 700;
  font-family: "Montserrat-Regular";
  background: #8ce7a1;
  border: 2px solid #8ce7a1;
  outline: none;
}

.button-primary-3-o.button-slim {
  line-height: 38px;
}

.button-primary-3-o.prime {
  border: 2px solid #3FD762;
}

.button-primary-3-o.prime:hover, .button-primary-3-o.prime:focus {
  border: 2px solid #3FD762;
  background: rgba(204, 204, 204, 0.65);
}

.button-primary-4 {
  background: #A7ABBD;
  border: 2px solid #A7ABBD;
  font-size: 14px;
  color: white;
  font-weight: 700;
  font-family: "Montserrat-Regular";
}

.button-primary-4:hover, .button-primary-4:focus {
  background: #cacdd7;
  border: 2px solid #A7ABBD;
  outline: none;
}

.button-primary-4[disabled] {
  background-color: #ccc;
  cursor: no-drop;
}

.button-primary-4-o {
  background: transparent;
  border: 2px solid #A7ABBD;
  line-height: 48px;
  font-size: 14px;
  color: #A7ABBD;
  font-weight: 700;
  font-family: "Montserrat-Regular";
}

.button-primary-4-o:hover, .button-primary-4-o:focus {
  font-size: 14px;
  color: white;
  font-weight: 700;
  font-family: "Montserrat-Regular";
  background: #cacdd7;
  border: 2px solid #cacdd7;
  outline: none;
}

.button-primary-4-o.button-slim {
  line-height: 38px;
}

.button-primary-4-o.prime {
  border: 2px solid #A7ABBD;
}

.button-primary-4-o.prime:hover, .button-primary-4-o.prime:focus {
  border: 2px solid #A7ABBD;
  background: rgba(204, 204, 204, 0.65);
}

.top-header {
  background: #0DA4FF;
  line-height: 48px;
}

@media (max-width: 767.98px) {
  .top-header {
    line-height: 35px;
  }
}

.top-header .row {
  margin: 0;
}

@media (max-width: 767.98px) {
  .top-header .text-right {
    text-align: left !important;
  }
}

.top-header .title {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Montserrat-Regular";
}

.top-header a {
  color: #ffffff;
  font-size: 14px;
  font-family: "Montserrat-Regular";
  display: inline-block;
  line-height: normal;
  margin: 0 3px;
  /*transform: scale(1,1);
    transition: .5s;*/
}

.top-header a:hover {
  font-weight: 700;
  /*transform: scale(-1,1);
      transition: .5s;*/
}

@media (max-width: 767.98px) {
  .top-header a {
    margin: 0 2px;
  }
}

.top-header .dropdown {
  display: inline-grid;
}

.top-header .dropdown .dropdown-toggle {
  display: inline-block;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 14px;
  font-family: "Montserrat-Regular";
  line-height: normal;
}

.top-header .dropdown .dropdown-toggle:focus {
  outline: none;
  box-shadow: none;
}

.top-header .dropdown .dropdown-toggle:active {
  border: none;
  background: none;
  box-shadow: none;
}

.top-header .dropdown .dropdown-toggle:after {
  all: initial;
  content: '\f107';
  font-family: FontAwesome;
  color: #fff;
}

.top-header .dropdown .dropdown-menu {
  float: right;
  right: 0;
  left: auto !important;
}

.top-header .dropdown .dropdown-menu a {
  font-size: 14px;
  color: #212529;
  font-weight: 400;
  font-family: "Montserrat-Regular";
  display: block;
  margin: 0;
}

.top-header .dropdown .dropdown-menu a.active {
  color: #ffffff;
  background: #0DA4FF;
}

@media (max-width: 767.98px) {
  .top-header .dropdown .dropdown-menu {
    left: 0 !important;
  }
}

.top-header .input-header {
  padding: 0;
}

.top-header .input-header input[type="text"] {
  background: rgba(0, 0, 0, 0.05);
  border: none;
  padding-left: 55px;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.top-header .input-header input[type="text"]:focus {
  outline: none;
}

.top-header .input-header input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5);
}

.top-header .input-header input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}

.top-header .input-header input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.5);
}

.top-header .input-header input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}

.top-header .input-header label {
  all: inherit;
}

.top-header .input-header label:after {
  content: '';
  display: block;
  background: url("../images/Search-Icon.png") no-repeat;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 18px;
  left: 20px;
}

@media (max-width: 767.98px) {
  .top-header .input-header input[type="text"] {
    padding-left: 43px;
  }
  .top-header .input-header label:after {
    top: 12px;
  }
}

.header {
  position: relative;
}

.header .navbar {
  line-height: 24px;
  background: #ffffff !important;
}

@media (max-width: 385px) {
  .header .navbar .navbar-brand {
    width: 215px;
  }
  .header .navbar .navbar-brand img {
    width: 100%;
  }
}

.header .navbar .navbar-collapse .navbar-nav {
  margin-right: 20%;
}

.header .navbar .navbar-collapse .navbar-nav li a {
  font-size: 22px;
  color: #1A1B3A;
  font-weight: 400;
  font-family: "Montserrat-Medium";
  line-height: 1.2;
  padding: 0 25px;
}

.header .navbar .navbar-collapse .navbar-nav li a.active {
  color: #0DA4FF;
}

.header .navbar .navbar-collapse .navbar-nav li a:hover {
  color: #0DA4FF;
}

@media (max-width: 1199.98px) {
  .header .navbar .navbar-collapse .navbar-nav li a {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  .header .navbar .navbar-collapse .navbar-nav {
    margin-right: 0;
  }
}

@media (max-width: 991.98px) {
  .header .navbar .navbar-collapse {
    padding: 15px 0 15px 0;
    border-top: 1px solid #dcdcdc;
  }
  .header .navbar .navbar-collapse .navbar-nav li a {
    padding: 5px 25px;
  }
}

.header .breadcrumb {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  background: 0;
}

.header .breadcrumb li {
  font-size: 16px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.header .breadcrumb li a {
  font-size: 16px;
  color: #0EADFF;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.header .breadcrumb li a:hover {
  color: #97bbcd;
  text-decoration: underline;
}

.header .breadcrumb li.active {
  font-size: 16px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

@media (max-width: 991.98px) {
  .header .breadcrumb {
    position: relative;
    padding: 0 0 12px;
    border-radius: 0;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
}

.header-slider {
  background: url("../images/backgroud-header.png") center no-repeat;
  background-size: cover;
  height: 610px;
  padding: 50px 0;
}

.header-slider.two {
  height: auto;
}

@media (max-width: 1199.98px) {
  .header-slider.two .advertising {
    text-align: center;
    margin-top: 30px;
  }
}

@media (max-width: 400.98px) {
  .header-slider.two .advertising img {
    width: 100%;
  }
}

@media (min-width: 1200px) and (max-width: 1429.98px) {
  .header-slider.two .slider-wrapp label {
    width: 330px;
  }
}

@media (max-width: 992px) {
  .header-slider {
    height: auto;
  }
}

.header-slider h1 {
  font-size: 46px;
  color: #0DA4FF;
  font-weight: 700;
  font-family: "Montserrat-Bold";
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .header-slider h1 {
    font-size: 28px;
  }
}

.header-slider span.sub {
  font-size: 20px;
  color: #6B6F81;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

@media (max-width: 575.98px) {
  .header-slider span.sub {
    font-size: 15px;
  }
}

.header-slider .slider-wrapp {
  margin-top: 60px;
}

.header-slider .slider-wrapp input[type="number"] {
  border: 1px solid #E4E5EC;
  border-radius: 50px;
  width: 100%;
  max-width: 415px;
  height: 50px;
  text-align: center;
  font-size: 22px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-SemiBold";
}

.header-slider .slider-wrapp input[type="number"]:focus {
  outline: none;
}

.header-slider .slider-wrapp input[type="number"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 22px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-SemiBold";
}

.header-slider .slider-wrapp input[type="number"]::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 22px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-SemiBold";
}

.header-slider .slider-wrapp input[type="number"]:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 22px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-SemiBold";
}

.header-slider .slider-wrapp input[type="number"]:-moz-placeholder {
  /* Firefox 18- */
  font-size: 22px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-SemiBold";
}

.header-slider .slider-wrapp .bottom-input {
  margin-top: 50px;
}

.header-slider .slider-wrapp .bottom-input .virtualcurrency {
  background: url("../images/exchange.png") no-repeat;
  display: inline-block;
  width: 43px;
  height: 24px;
  margin: 0 20px;
  bottom: -5px;
  position: relative;
}

@media (max-width: 992px) {
  .header-slider .slider-wrapp .bottom-input .virtualcurrency {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 376.98px) {
  .header-slider .slider-wrapp .bottom-input .virtualcurrency {
    bottom: 4px;
  }
}

@media (max-width: 767.98px) {
  .header-slider .slider-wrapp .bottom-input {
    margin-top: 15px;
  }
}

.header-slider .slider-wrapp .bottom-submit {
  margin-top: 20px;
}

.header-slider .slider-wrapp label {
  width: 415px;
  font-size: 14px;
  color: #4A4A4A;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.header-slider .slider-wrapp label:first-child {
  text-align: left;
}

.header-slider .slider-wrapp label:first-child span {
  margin-left: 20px;
}

.header-slider .slider-wrapp label:last-child {
  text-align: right;
}

.header-slider .slider-wrapp label:last-child span {
  margin-right: 20px;
}

@media (max-width: 445px) {
  .header-slider .slider-wrapp label {
    width: 100%;
  }
}

.header-slider .slider-wrapp .result {
  margin-top: 35px;
  display: inline-block;
  padding: 5px 40px 0 40px;
  background: #F5FAFD;
  border-radius: 50px;
  border: 1px solid #E4E5EC;
  font-size: 39px;
  color: #A8B4C4;
  font-weight: 700;
  font-family: "Montserrat-Bold";
}

.header-slider .slider-wrapp .result span {
  color: #3FD762;
}

@media (max-width: 992px) {
  .header-slider .slider-wrapp .result {
    font-size: 27px;
  }
}

@media (max-width: 575.98px) {
  .header-slider .slider-wrapp .result {
    font-size: 20px;
  }
}

.header-slider .slider-wrapp select {
  display: none;
}

@media (max-width: 767.98px) {
  .header-slider .slider-wrapp {
    margin-top: 30px;
  }
}

.header-slider .message {
  font-size: 14px;
  color: #9B9B9B;
  font-weight: 400;
  font-family: "Montserrat-Regular";
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}

.footer {
  background: #353745;
  padding: 60px 0;
}

.footer .footer-logo {
  margin-left: 65px;
}

.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer ul li {
  display: inline-block;
}

.footer ul li a {
  font-size: 14px;
  color: #7F829A;
  font-weight: 400;
  font-family: "Montserrat-Light";
  margin: 0 5px;
}

.footer ul li a:hover {
  color: #ffffff;
  transition: 0.7s;
}

.footer p {
  margin: 15px 0 5px;
  font-size: 14px;
  color: #7F829A;
  font-weight: 400;
  font-family: "Montserrat-Light";
}

.footer .social {
  margin-right: 65px;
}

.footer .social a {
  background: #3A3C4C;
  padding: 11px 14px;
  margin-left: 14px;
  color: #A7ABBD;
}

.footer .social a:hover {
  background: #0DA4FF;
}

.footer .social a:hover i {
  color: #ffffff;
}

@media (max-width: 992px) {
  .footer .social {
    margin-right: 0;
  }
}

.footer .text-right {
  margin: 20px 0;
}

@media (max-width: 992px) {
  .footer .text-right {
    text-align: center !important;
  }
}

.icon_select_mate {
  position: absolute;
  top: 10px;
  right: 2%;
  font-size: 16px;
  height: 22px;
  transition: all 275ms;
}

.select_mate {
  position: relative;
  width: 100%;
  max-width: 425px;
  margin: 0 auto;
  height: 42px;
  background-color: #ffffff;
  border: 1px solid #E4E5EC;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
  transition: all 375ms ease-in-out;
  font-size: 14px;
  color: #9B9B9B;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.select_mate select {
  position: absolute;
  overflow: hidden;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
}

.cont_select_int {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: #fff;
  border-radius: 15px 15px 15px 15px;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
  transition: all 375ms ease-in-out;
}

.cont_select_int li {
  position: relative;
  float: left;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  background-color: #ffffff;
  list-style-type: none;
  padding: 10px 2%;
  margin: 0px;
  transition: all 275ms ease-in-out;
  text-align: center;
  display: block;
  cursor: pointer;
}

.cont_select_int li:last-child {
  border-radius: 3px;
  border-bottom: 0px;
}

.cont_select_int li:hover {
  background-color: #EEEEEE;
}

.cont_select_int .active {
  background-color: #EEEEEE;
}

.selecionado_opcion {
  padding: 10px 10px;
  text-align: center;
  width: 100%;
  display: block;
  margin: 0;
  cursor: pointer;
}

.live-block {
  padding: 40px 0;
}

.live-block h2 {
  font-size: 26px;
  color: #464855;
  font-weight: 400;
  font-family: "Montserrat-Regular";
  text-align: center;
}

.live-block .conversion-block {
  padding: 30px 0;
}

.live-block .conversion-block .title-c {
  font-size: 18px;
  color: #464855;
  font-weight: 700;
  font-family: "Montserrat-SemiBold";
}

.live-block .conversion-block .currency {
  font-size: 16px;
  color: #A8B4C4;
  font-weight: 400;
  font-family: "Montserrat-Medium";
}

.live-block .conversion-block .rating {
  font-size: 16px;
  color: #D0021B;
  font-weight: 400;
  font-family: "Montserrat-Medium";
}

.live-block .conversion-block .rating.plus {
  color: #3FD762;
}

.blocks {
  padding: 40px 0;
}

@media (max-width: 1199.98px) {
  .blocks img {
    width: 100%;
  }
}

.blocks-sidebar {
  background: #ffffff;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.06);
}

.recent-convert {
  background: #F5FAFD;
  padding: 50px 0;
}

.recent-convert h3 {
  font-size: 18px;
  color: #464855;
  font-weight: 400;
  font-family: "Montserrat-Regular";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.recent-convert .recent-block {
  background: #ffffff;
  border: 1px solid #EDEEF4;
}

.recent-convert .recent-block .wrap {
  padding: 20px 30px;
}

.recent-convert .recent-block .wrap:first-child {
  border-right: 1px solid #EDEEF4;
}

@media (max-width: 991px) {
  .recent-convert .recent-block .wrap:first-child {
    padding-bottom: 0;
  }
  .recent-convert .recent-block .wrap:last-child {
    padding-top: 0;
  }
}

.recent-convert .recent-block ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.recent-convert .recent-block ul li {
  margin-bottom: 5px;
  border-bottom: 1px solid #EDEEF4;
  line-height: 40px;
}

.recent-convert .recent-block ul li span {
  font-size: 14px;
  color: #A7ABBD;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.recent-convert .recent-block ul li span.btc {
  background: url("../images/btc.png") no-repeat;
  position: relative;
  top: 9px;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.recent-convert .recent-block ul li span.eth {
  background: url("../images/eth.png") no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  top: 9px;
}

.recent-convert .recent-block ul li span:last-child {
  float: right;
  top: 4px;
  position: relative;
}

@media (max-width: 575px) {
  .recent-convert .recent-block ul li span:last-child {
    display: block;
    float: none;
    top: 0;
    position: inherit;
  }
}

.recent-convert .recent-block ul li span:nth-child(2n) {
  margin-left: 5px;
}

@media (max-width: 575px) {
  .recent-convert .recent-block ul li span:nth-child(2n) {
    display: block;
    margin-top: 6px;
  }
}

.recent-convert .recent-block ul li span a {
  font-size: 14px;
  color: #A7ABBD;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.recent-convert .recent-block ul li span a:hover {
  color: #404042;
}

.recent-convert .recent-block ul li i {
  color: #A7ABBD;
  margin: 0 5px;
}

@media (max-width: 575px) {
  .recent-convert .recent-block ul li {
    text-align: center;
    line-height: 25px;
  }
}

.currencies-block {
  background: #ffffff;
  padding: 40px 0;
}

.currencies-block .title {
  font-size: 24px;
  color: #464855;
  font-weight: 400;
  font-family: "Montserrat-Regular";
  text-transform: uppercase;
  text-align: center;
  position: relative;
  height: 65px;
}

.currencies-block .title:after {
  content: '';
  width: 65px;
  height: 2px;
  background: #0DA4FF;
  position: absolute;
  left: calc(50% - 32px);
  bottom: 6px;
}

.currencies-block ul {
  padding: 0;
  padding-top: 30px;
  margin: 0;
  list-style: none;
}

.currencies-block ul li {
  border-bottom: 1px solid #EDEEF4;
  line-height: 40px;
}

.currencies-block ul li a {
  display: block;
  padding: 0 50px;
  padding-right: 20px;
  padding-top: 5px;
}

.currencies-block ul li a span {
  font-size: 14px;
  color: #A7ABBD;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.currencies-block ul li a span.btc {
  background: url("../images/btc.png") no-repeat;
  position: relative;
  top: 5px;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.currencies-block ul li a span:last-child {
  float: right;
  top: 0;
  position: relative;
  min-width: 170px;
}

.currencies-block ul li a span.link {
  font-size: 14px;
  color: #A7ABBD;
  font-weight: 700;
  font-family: "Montserrat-Bold";
}

.currencies-block ul li a:hover {
  background: #f5f5f5;
  transition: 0.4s;
}

@media (max-width: 575px) {
  .currencies-block ul li a {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .currencies-block ul {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.chart {
  padding: 40px 0;
}

.chart h2 {
  font-size: 26px;
  color: #464855;
  font-weight: 400;
  font-family: "Montserrat-Regular";
  text-transform: uppercase;
  text-align: center;
}

.popular {
  padding: 70px 0;
  background: #F5FAFD;
}

.popular h3 {
  font-size: 18px;
  color: #464855;
  font-weight: 400;
  font-family: "Montserrat-Regular";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.popular .block-currency {
  background: #ffffff;
  padding: 30px 40px 60px 40px;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.06);
}

.popular .block-currency ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.popular .block-currency ul li {
  margin-bottom: 5px;
  border-bottom: 1px solid #EDEEF4;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.popular .block-currency ul li a {
  font-size: 18px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.popular .block-currency ul li a:hover {
  color: #0DA4FF;
  transition: 0.4s;
}

.popular .block-currency ul li img {
  vertical-align: top;
}

.popular .block-currency ul li img:first-child {
  margin-right: 30px;
}

.popular .block-currency ul li img:last-child {
  margin-left: 30px;
}

@media (max-width: 1200px) {
  .popular .block-currency ul li img:first-child {
    margin-right: 10px;
  }
  .popular .block-currency ul li img:last-child {
    margin-left: 10px;
  }
}

@media (max-width: 500px) {
  .popular .block-currency ul li img:first-child {
    margin-right: 0;
  }
  .popular .block-currency ul li img:last-child {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .popular .block-currency ul li {
    font-size: 13px;
  }
}

.popular .block-currency ul.first li a {
  font-size: 22px;
}

@media (max-width: 500px) {
  .popular .block-currency ul.first li a {
    font-size: 17px;
  }
}

@media (max-width: 992px) {
  .popular .block-currency {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .popular .block-currency {
    padding: 30px 10px 30px 10px;
  }
}

@media (max-width: 992.98px) {
  .popular {
    padding-bottom: 10px;
  }
}

.convert-c {
  padding: 30px 0;
  background: #F5FAFD;
}

.convert-c h3 {
  font-size: 18px;
  color: #464855;
  font-weight: 400;
  font-family: "Montserrat-Regular";
  text-transform: uppercase;
  text-align: center;
}

.convert-c .block-c {
  background: #ffffff;
  padding: 15px 15px 20px 15px;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.06);
  min-height: 94.5%;
}

.convert-c .block-c ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.convert-c .block-c ul li {
  margin-bottom: 5px;
  border-bottom: 1px solid #EDEEF4;
  line-height: 40px;
}

.convert-c .block-c ul li span {
  font-size: 14px;
  color: #A7ABBD;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.convert-c .block-c ul li span a {
  font-size: 14px;
  color: #A7ABBD;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.convert-c .block-c ul li span a:hover {
  color: #0DA4FF;
  transition: 0.5s;
}

.convert-c .block-c ul li span.btc {
  background: url("../images/btc.png") no-repeat;
  position: relative;
  top: 9px;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.convert-c .block-c ul li span.eth {
  background: url("../images/eth.png") no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  top: 9px;
}

.convert-c .block-c ul li span:last-child {
  float: right;
  top: 4px;
  position: relative;
}

@media (max-width: 575px) {
  .convert-c .block-c ul li span:last-child {
    display: block;
    float: none;
    top: 0;
    position: inherit;
  }
}

.convert-c .block-c ul li span:nth-child(2n) {
  margin-left: 5px;
}

.convert-c .block-c ul li i {
  color: #A7ABBD;
  margin: 0 5px;
}

@media (max-width: 575px) {
  .convert-c .block-c ul li {
    text-align: center;
    line-height: 25px;
  }
}

@media (max-width: 992.98px) {
  .convert-c .block-c {
    min-height: auto;
    margin-bottom: 30px;
  }
}

.convert-c .block-currency {
  background: #ffffff;
  padding: 25px 15px 20px 15px;
  min-height: 560px;
  margin-bottom: 40px;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.06);
}

.convert-c .block-currency ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.convert-c .block-currency ul li {
  margin-bottom: 5px;
  border-bottom: 1px solid #EDEEF4;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  color: #A7ABBD;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.convert-c .block-currency ul li a {
  font-size: 14px;
  color: #A7ABBD;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.convert-c .block-currency ul li a:hover {
  color: #0DA4FF;
  transition: 0.4s;
}

.convert-c .block-currency ul li img {
  vertical-align: top;
}

.convert-c .block-currency ul li img:first-child {
  margin-right: 30px;
}

.convert-c .block-currency ul li img:last-child {
  margin-left: 30px;
}

@media (max-width: 1200px) {
  .convert-c .block-currency ul li img:first-child {
    margin-right: 10px;
  }
  .convert-c .block-currency ul li img:last-child {
    margin-left: 10px;
  }
}

@media (max-width: 500px) {
  .convert-c .block-currency ul li img:first-child {
    margin-right: 0;
  }
  .convert-c .block-currency ul li img:last-child {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .convert-c .block-currency ul li {
    font-size: 13px;
  }
}

.convert-c .block-currency ul.first li {
  font-size: 22px;
}

@media (max-width: 500px) {
  .convert-c .block-currency ul.first li {
    font-size: 17px;
  }
}

@media (max-width: 992.98px) {
  .convert-c {
    padding-top: 0;
  }
}

.page {
  background: #F5FAFD;
}

.page h3 {
  font-size: 30px;
  color: #464855;
  font-weight: 400;
  font-family: "Montserrat-Regular";
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 767.98px) {
  .page h3 {
    font-size: 25px;
  }
}

.page ul.list-c {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page ul.list-c li {
  background: #ffffff;
  display: block;
  padding: 15px 30px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.06);
}

.page ul.list-c li .title {
  font-size: 25px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-Regular";
  display: inline-block;
  line-height: 25px;
  vertical-align: middle;
  margin-top: 3px;
  margin-left: 25px;
}

.page ul.list-c li .title a {
  font-size: 25px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.page ul.list-c li .title a:hover {
  color: #0DA4FF;
  transition: 0.4s;
}

.page ul.list-c li .button {
  float: right;
  margin: 2px 0 0 0;
}

.page ul.list-c li .button:nth-child(2n) {
  margin-right: 30px;
}

@media (max-width: 767.98px) {
  .page ul.list-c li .title {
    margin-left: 0;
  }
}

@media (max-width: 540.98px) {
  .page ul.list-c li {
    text-align: center;
  }
  .page ul.list-c li .title {
    display: block;
    margin-top: 15px;
  }
  .page ul.list-c li .button {
    float: none;
    margin: 15px 0 0 0;
  }
}

.page ul.list-c-two {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page ul.list-c-two li {
  background: #ffffff;
  display: block;
  padding: 15px 30px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.06);
}

.page ul.list-c-two li .title {
  font-size: 25px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-Regular";
  display: inline-block;
  line-height: 25px;
  vertical-align: middle;
  margin-top: 3px;
  margin-left: 25px;
}

.page ul.list-c-two li .title a {
  font-size: 25px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.page ul.list-c-two li .title a:hover {
  color: #0DA4FF;
  transition: 0.4s;
}

.page ul.list-c-two li .button {
  /*float: right;*/
  margin: 2px 0 0 0;
}

.page ul.list-c-two li .button:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 767.98px) {
  .page ul.list-c-two li .title {
    margin-left: 0;
  }
}

@media (max-width: 540.98px) {
  .page ul.list-c-two li {
    text-align: center;
  }
  .page ul.list-c-two li .title {
    display: block;
    margin-top: 15px;
  }
  .page ul.list-c-two li .button {
    float: none;
    margin: 15px 0 0 0;
  }
}

@media (max-width: 991.98px) {
  .page ul.list-c-two li {
    text-align: center;
  }
  .page ul.list-c-two li .button {
    float: none;
    display: block;
    width: 180px;
    margin: 7px auto;
  }
  .page ul.list-c-two li .button:nth-child(2n) {
    margin: 7px auto;
  }
}

.page .content {
  background: #ffffff;
  padding: 30px;
}

.page .content h5 {
  font-size: 15px;
  color: #464855;
  font-weight: 700;
  font-family: "Montserrat-Regular";
}

.page .content p {
  font-size: 13px;
  color: #6B6F81;
  font-weight: 400;
  font-family: "Montserrat-Light";
  margin-bottom: 30px;
  line-height: 2.2;
}

@media (max-width: 991.98px) {
  .page .first {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .page .last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 10px;
  }
}

.calculator {
  text-align: center;
  background: #ffffff;
  padding: 20px 20px 40px 20px;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.06);
}

.calculator .title {
  font-size: 16px;
  color: #464855;
  font-weight: 400;
  font-family: "Montserrat-Medium";
  margin-bottom: 20px;
}

.calculator input[type="number"] {
  border: 1px solid #E4E5EC;
  border-radius: 50px;
  width: 100%;
  max-width: 415px;
  height: 50px;
  text-align: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
  font-size: 26px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-SemiBold";
}

.calculator input[type="number"]:focus {
  outline: none;
}

.calculator .bottom-input {
  margin-top: 30px;
  display: block;
  width: 100%;
}

.calculator .bottom-input .virtualcurrency {
  background: url("../images/exchange.png") no-repeat;
  display: block;
  width: 43px;
  height: 24px;
  margin: 10px auto;
}

.calculator .button {
  margin-top: 20px;
}

.calculator label {
  display: block;
  width: 100%;
  margin-bottom: 0;
  font-size: 14px;
  color: #4A4A4A;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.calculator select {
  display: none;
}

.header-block {
  padding: 35px 20px 5px;
  font-size: 16px;
  color: #464855;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

@media (max-width: 992px) {
  .header-block {
    display: none;
  }
}

.body-block {
  padding: 12px 20px;
  background: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
  margin-bottom: 30px;
}

.body-block img.name-img {
  width: 40px;
  vertical-align: middle;
}

.body-block img.link-img {
  width: 25px;
}

.body-block .name {
  font-size: 19px;
  color: #A7ABBD;
  font-weight: 400;
  font-family: "Montserrat-Regular";
  position: relative;
  top: 2px;
}

.body-block .name a {
  font-size: 19px;
  color: #A7ABBD;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.body-block .name a:hover {
  color: #0DA4FF;
  transition: 0.4s;
}

.body-block .description {
  font-size: 15px;
  color: #A7ABBD;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.body-block .starting {
  font-size: 15px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.body-block .ending {
  font-size: 15px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

@media (max-width: 991.98px) {
  .body-block {
    margin-top: 20px;
    text-align: center;
  }
  .body-block span {
    display: block;
    margin-bottom: 5px;
  }
}

.header-block-btc {
  padding: 35px 20px 5px;
  font-size: 16px;
  color: #464855;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

@media (max-width: 992px) {
  .header-block-btc {
    display: none;
    font-size: 15px;
  }
}

@media (max-width: 1199.98px) {
  .header-block-btc {
    font-size: 13px;
  }
}

.body-block-btc {
  padding: 15px 20px;
  background: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
  margin-bottom: 20px;
}

.body-block-btc img {
  width: 40px;
}

.body-block-btc .name {
  font-size: 20px;
  color: #A7ABBD;
  font-weight: 400;
  font-family: "Montserrat-Regular";
  position: relative;
  top: 3px;
}

.body-block-btc .name a {
  font-size: 20px;
  color: #A7ABBD;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.body-block-btc .name a:hover {
  color: #0DA4FF;
  transition: 0.4s;
}

.body-block-btc .description {
  font-size: 14px;
  color: #A7ABBD;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.body-block-btc .description a {
  font-size: 14px;
  color: #A7ABBD;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.body-block-btc .description a:hover {
  color: #0DA4FF;
  transition: 0.4s;
}

.body-block-btc .ending {
  font-size: 14px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.body-block-btc .ending a {
  font-size: 14px;
  color: #A7ABBD;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.body-block-btc .ending a:hover {
  color: #0DA4FF;
  transition: 0.4s;
}

.body-block-btc .starting {
  font-size: 16px;
  color: #494949;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.body-block-btc .change {
  font-size: 16px;
  color: #D0021B;
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

@media (max-width: 991.98px) {
  .body-block-btc {
    margin-top: 20px;
    text-align: center;
  }
  .body-block-btc span {
    display: block;
    margin-bottom: 5px;
  }
}
/* Added at laravel rebuilding */
.dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    max-width: 100%;
}
.header  .breadcrumbs {
    list-style: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    background: 0;
    padding: .75rem 1rem;
}

.breadcrumbs li {
    float: left;
    padding: 0 .5rem 0 0;
}

.header .breadcrumbs li a:hover, span.price a:hover {
    color: #97bbcd;
}
.header .breadcrumbs li a:hover,
{
  text-decoration: underline;
}

.header .breadcrumbs li a {
    color: #0EADFF;
}
.body-block-btc .change_up, .owl-item .change_up {
    color: #3FD762 !important;
}
.body-block-btc .change_down, .owl-item .change_down {
    color: #D0021B !important;
}
.body-block-btc .name a {
    font-size: 18px;
    color: #464855;
    font-weight: 400;
    font-family: "Montserrat-Regular";
}
.loading, #search_result, #search_result_internal{
  display:none;
}
#search_result, #search_result_internal{
  position: absolute;
  top: 48px;
  background-color: #fff;
  z-index: 100;
  text-align: center;
  width: 100%;
  max-height: 350px;
  overflow-y: scroll;
}
.autosuggest{
  list-style: none;
  padding: 0;
}
#search_result li:hover, #search_result_internal li:hover{
  background-color: #eee;
}
#search_result li, #search_result_internal li{
 width:100%;
}
.blockcenter{
  margin: 0 auto;
}
.search_internal, .search_internal2{
  width:100%;
  position: fixed;
  line-height: 1.8rem;
  top: 0;
}
.convertation #inputState1 .dropdown-menu, .convertation #inputState2 .dropdown-menu{
  padding-top:2rem;
}
.page h3 {
    font-size: 30px;
    color: #464855;
    font-weight: 400;
    font-family: "Montserrat-Regular";
    text-align: center;
    margin-bottom: 20px;
}
.currency-table-img-right {
    float: right;
}
.currency-table-img-left {
    float: left;
}
.convert-c .block-currency ul li img:last-child {
    margin-left: 30px;
}
.dropdown-menu{
  width: 100%;
}
.cnvload{
  display: none;
}